/* CSS form add category */

.row {
    margin-top: 30px;
}
.row .form-add-cate{

    width: 1000px;
    border: 1px solid rgb(188, 182, 182);
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
}
.row .form-add-cate .mb-4 .form-label {
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.row .form-add-cate .mb-4 .form-control{
    height: 50px;
}
.alert{
    width: 1000px;
    margin: 0 auto;

    
}