.col-lg-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }

  
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
  }
  
  .card>hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
  .card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
  }
  
  .card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
  }
  
  .card>.card-header+.list-group,
  .card>.list-group+.card-footer {
    border-top: 0;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
  }
  
  .card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
  }
  
  .card-subtitle {
    margin-top: calc(-.5 * var(--bs-card-title-spacer-y));
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link+.card-link {
    margin-left: var(--bs-card-spacer-x);
  }
  
  .card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }
  
  .card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
  }
  
  .card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
  }
  
  .card-header-tabs {
    margin-right: calc(-.5 * var(--bs-card-cap-padding-x));
    margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
    margin-left: calc(-.5 * var(--bs-card-cap-padding-x));
    border-bottom: 0;
  }
  
  .card-header-tabs .nav-link.active {
    background-color: var(--bs-card-bg);
    border-bottom-color: var(--bs-card-bg);
  }
  
  .card-header-pills {
    margin-right: calc(-.5 * var(--bs-card-cap-padding-x));
    margin-left: calc(-.5 * var(--bs-card-cap-padding-x));
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
  }
  
  .card-group>.card {
    margin-bottom: var(--bs-card-group-margin);
  }
  
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
  
    .card-group>.card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
  
    .card-group>.card+.card {
      margin-left: 0;
      border-left: 0;
    }
  
    .card-group>.card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .card-group>.card:not(:last-child) .card-img-top,
    .card-group>.card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
  
    .card-group>.card:not(:last-child) .card-img-bottom,
    .card-group>.card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
  
    .card-group>.card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .card-group>.card:not(:first-child) .card-img-top,
    .card-group>.card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
  
    .card-group>.card:not(:first-child) .card-img-bottom,
    .card-group>.card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }

  .card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .card[data-animation="true"] .card-header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  }
  
  .card:hover[data-animation="true"] .card-header {
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  
  .card .card-header {
    padding: 1.5rem;
  }
  
  .card .card-body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 1.5rem;
  }
  
  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
  }
  
  .card .card-footer {
    padding: 1.5rem;
    background-color: transparent;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .p-3 {
    padding: 1rem !important;
  }

  .list-group {
    --bs-list-group-color: inherit;
    --bs-list-group-bg: #fff;
    --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-radius: 0.375rem;
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: #495057;
    --bs-list-group-action-hover-color: #495057;
    --bs-list-group-action-hover-bg: #f8f9fa;
    --bs-list-group-action-active-color: #7b809a;
    --bs-list-group-action-active-bg: #f0f2f5;
    --bs-list-group-disabled-color: #6c757d;
    --bs-list-group-disabled-bg: #fff;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #e91e63;
    --bs-list-group-active-border-color: #e91e63;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
  }
  
  .list-group-numbered {
    list-style-type: none;
    counter-reset: section;
  }
  
  .list-group-numbered>.list-group-item::before {
    content: counters(section, ".") ". ";
    counter-increment: section;
  }
  
  .list-group-item-action {
    width: 100%;
    color: var(--bs-list-group-action-color);
    text-align: inherit;
  }
  
  .list-group-item-action:hover,
  .list-group-item-action:focus {
    z-index: 1;
    color: var(--bs-list-group-action-hover-color);
    text-decoration: none;
    background-color: var(--bs-list-group-action-hover-bg);
  }
  
  .list-group-item-action:active {
    color: var(--bs-list-group-action-active-color);
    background-color: var(--bs-list-group-action-active-bg);
  }
  
  .list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  }
  
  .list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  
  .list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  
  .list-group-item.disabled,
  .list-group-item:disabled {
    color: var(--bs-list-group-disabled-color);
    pointer-events: none;
    background-color: var(--bs-list-group-disabled-bg);
  }
  
  .list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
  }
  
  .list-group-item+.list-group-item {
    border-top-width: 0;
  }
  
  .list-group-item+.list-group-item.active {
    margin-top: calc(-1 * var(--bs-list-group-border-width));
    border-top-width: var(--bs-list-group-border-width);
  }
  
  .list-group-horizontal {
    flex-direction: row;
  }
  
  .list-group-horizontal>.list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
  }
  
  .list-group-horizontal>.list-group-item:last-child:not(:first-child) {
    border-top-right-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
  }
  
  .list-group-horizontal>.list-group-item.active {
    margin-top: 0;
  }
  
  .list-group-horizontal>.list-group-item+.list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    border-left-width: 0;
  }
  
  .list-group-horizontal>.list-group-item+.list-group-item.active {
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: var(--bs-list-group-border-width);
  }
  
  @media (min-width: 576px) {
    .list-group-horizontal-sm {
      flex-direction: row;
    }
  
    .list-group-horizontal-sm>.list-group-item:first-child:not(:last-child) {
      border-bottom-left-radius: var(--bs-list-group-border-radius);
      border-top-right-radius: 0;
    }
  
    .list-group-horizontal-sm>.list-group-item:last-child:not(:first-child) {
      border-top-right-radius: var(--bs-list-group-border-radius);
      border-bottom-left-radius: 0;
    }
  
    .list-group-horizontal-sm>.list-group-item.active {
      margin-top: 0;
    }
  
    .list-group-horizontal-sm>.list-group-item+.list-group-item {
      border-top-width: var(--bs-list-group-border-width);
      border-left-width: 0;
    }
  
    .list-group-horizontal-sm>.list-group-item+.list-group-item.active {
      margin-left: calc(-1 * var(--bs-list-group-border-width));
      border-left-width: var(--bs-list-group-border-width);
    }
  }
  
  @media (min-width: 768px) {
    .list-group-horizontal-md {
      flex-direction: row;
    }
  
    .list-group-horizontal-md>.list-group-item:first-child:not(:last-child) {
      border-bottom-left-radius: var(--bs-list-group-border-radius);
      border-top-right-radius: 0;
    }
  
    .list-group-horizontal-md>.list-group-item:last-child:not(:first-child) {
      border-top-right-radius: var(--bs-list-group-border-radius);
      border-bottom-left-radius: 0;
    }
  
    .list-group-horizontal-md>.list-group-item.active {
      margin-top: 0;
    }
  
    .list-group-horizontal-md>.list-group-item+.list-group-item {
      border-top-width: var(--bs-list-group-border-width);
      border-left-width: 0;
    }
  
    .list-group-horizontal-md>.list-group-item+.list-group-item.active {
      margin-left: calc(-1 * var(--bs-list-group-border-width));
      border-left-width: var(--bs-list-group-border-width);
    }
  }
  
  @media (min-width: 992px) {
    .list-group-horizontal-lg {
      flex-direction: row;
    }
  
    .list-group-horizontal-lg>.list-group-item:first-child:not(:last-child) {
      border-bottom-left-radius: var(--bs-list-group-border-radius);
      border-top-right-radius: 0;
    }
  
    .list-group-horizontal-lg>.list-group-item:last-child:not(:first-child) {
      border-top-right-radius: var(--bs-list-group-border-radius);
      border-bottom-left-radius: 0;
    }
  
    .list-group-horizontal-lg>.list-group-item.active {
      margin-top: 0;
    }
  
    .list-group-horizontal-lg>.list-group-item+.list-group-item {
      border-top-width: var(--bs-list-group-border-width);
      border-left-width: 0;
    }
  
    .list-group-horizontal-lg>.list-group-item+.list-group-item.active {
      margin-left: calc(-1 * var(--bs-list-group-border-width));
      border-left-width: var(--bs-list-group-border-width);
    }
  }
  
  @media (min-width: 1200px) {
    .list-group-horizontal-xl {
      flex-direction: row;
    }
  
    .list-group-horizontal-xl>.list-group-item:first-child:not(:last-child) {
      border-bottom-left-radius: var(--bs-list-group-border-radius);
      border-top-right-radius: 0;
    }
  
    .list-group-horizontal-xl>.list-group-item:last-child:not(:first-child) {
      border-top-right-radius: var(--bs-list-group-border-radius);
      border-bottom-left-radius: 0;
    }
  
    .list-group-horizontal-xl>.list-group-item.active {
      margin-top: 0;
    }
  
    .list-group-horizontal-xl>.list-group-item+.list-group-item {
      border-top-width: var(--bs-list-group-border-width);
      border-left-width: 0;
    }
  
    .list-group-horizontal-xl>.list-group-item+.list-group-item.active {
      margin-left: calc(-1 * var(--bs-list-group-border-width));
      border-left-width: var(--bs-list-group-border-width);
    }
  }
  
  @media (min-width: 1400px) {
    .list-group-horizontal-xxl {
      flex-direction: row;
    }
  
    .list-group-horizontal-xxl>.list-group-item:first-child:not(:last-child) {
      border-bottom-left-radius: var(--bs-list-group-border-radius);
      border-top-right-radius: 0;
    }
  
    .list-group-horizontal-xxl>.list-group-item:last-child:not(:first-child) {
      border-top-right-radius: var(--bs-list-group-border-radius);
      border-bottom-left-radius: 0;
    }
  
    .list-group-horizontal-xxl>.list-group-item.active {
      margin-top: 0;
    }
  
    .list-group-horizontal-xxl>.list-group-item+.list-group-item {
      border-top-width: var(--bs-list-group-border-width);
      border-left-width: 0;
    }
  
    .list-group-horizontal-xxl>.list-group-item+.list-group-item.active {
      margin-left: calc(-1 * var(--bs-list-group-border-width));
      border-left-width: var(--bs-list-group-border-width);
    }
  }
  
  .list-group-flush {
    border-radius: 0;
  }
  
  .list-group-flush>.list-group-item {
    border-width: 0 0 var(--bs-list-group-border-width);
  }
  
  .list-group-flush>.list-group-item:last-child {
    border-bottom-width: 0;
  }
  
  .list-group-item-primary {
    color: #8cb;
    background-color: #fbd2e0;
  }
  
  .list-group-item-primary.list-group-item-action:hover,
  .list-group-item-primary.list-group-item-action:focus {
    color: #8cb;
    background-color: #e2bdca;
  }
  
  .list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #8cb;
    border-color: #8cb;
  }
  
  .list-group-item-secondary {
    color: #4a4d5c;
    background-color: #e5e6eb;
  }
  
  .list-group-item-secondary.list-group-item-action:hover,
  .list-group-item-secondary.list-group-item-action:focus {
    color: #4a4d5c;
    background-color: #cecfd4;
  }
  
  .list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #4a4d5c;
    border-color: #4a4d5c;
  }
  
  .list-group-item-success {
    color: #2e6930;
    background-color: #dbefdc;
  }
  
  .list-group-item-success.list-group-item-action:hover,
  .list-group-item-success.list-group-item-action:focus {
    color: #2e6930;
    background-color: #c5d7c6;
  }
  
  .list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #2e6930;
    border-color: #2e6930;
  }
  
  .list-group-item-info {
    color: #10458b;
    background-color: #d1e3fa;
  }
  
  .list-group-item-info.list-group-item-action:hover,
  .list-group-item-info.list-group-item-action:focus {
    color: #10458b;
    background-color: #bccce1;
  }
  
  .list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #10458b;
    border-color: #10458b;
  }
  
  .list-group-item-warning {
    color: #975400;
    background-color: #fee8cc;
  }
  
  .list-group-item-warning.list-group-item-action:hover,
  .list-group-item-warning.list-group-item-action:focus {
    color: #975400;
    background-color: #e5d1b8;
  }
  
  .list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #975400;
    border-color: #975400;
  }
  
  .list-group-item-danger {
    color: #922820;
    background-color: #fdd9d7;
  }
  
  .list-group-item-danger.list-group-item-action:hover,
  .list-group-item-danger.list-group-item-action:focus {
    color: #922820;
    background-color: #e4c3c2;
  }
  
  .list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #922820;
    border-color: #922820;
  }
  
  .list-group-item-light {
    color: #606162;
    background-color: #fcfcfd;
  }
  
  .list-group-item-light.list-group-item-action:hover,
  .list-group-item-light.list-group-item-action:focus {
    color: #606162;
    background-color: #e3e3e4;
  }
  
  .list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #606162;
    border-color: #606162;
  }
  
  .list-group-item-dark {
    color: #1f2b3e;
    background-color: #d6dae1;
  }
  
  .list-group-item-dark.list-group-item-action:hover,
  .list-group-item-dark.list-group-item-action:focus {
    color: #1f2b3e;
    background-color: #c1c4cb;
  }
  
  .list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1f2b3e;
    border-color: #1f2b3e;
  }
  
  .list-group-item-white {
    color: #666666;
    background-color: white;
  }
  
  .list-group-item-white.list-group-item-action:hover,
  .list-group-item-white.list-group-item-action:focus {
    color: #666666;
    background-color: #e6e6e6;
  }
  
  .list-group-item-white.list-group-item-action.active {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
  }
  
  .list-group-item-dark-blue {
    color: #10154c;
    background-color: #d1d3e5;
  }
  
  .list-group-item-dark-blue.list-group-item-action:hover,
  .list-group-item-dark-blue.list-group-item-action:focus {
    color: #10154c;
    background-color: #bcbece;
  }
  
  .list-group-item-dark-blue.list-group-item-action.active {
    color: #fff;
    background-color: #10154c;
    border-color: #10154c;
  }

  .material-icons {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  .nav.nav-pills .nav-link .material-icons {
    top: 3px;
  }
  .dark-version .dropdown .dropdown-menu .dropdown-item i,
  .dark-version .dropdown .dropdown-menu .dropdown-item .material-icons {
    color: #fff;
    
  }
  
  .btn .material-icons {
    vertical-align: middle;
    margin-top: -1px;
    margin-bottom: -1px;
    font-size: 1.1rem;
    display: inline-block;
    top: 0;
  }
  .btn-link {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #e91e63;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #e91e63;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #e91e63;
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 198, 26, 84;
    text-decoration: none;
  }
  
  .btn-link:hover,
  .btn-link:focus-visible {
    text-decoration: none;
  }
  
  .btn-link:focus-visible {
    color: var(--bs-btn-color);
  }
  
  .btn-link:hover {
    color: var(--bs-btn-hover-color);
  }
  .btn.btn-link {
    box-shadow: none;
    font-weight: 700;
  }
  
  .btn.btn-link:hover,
  .btn.btn-link:focus {
    box-shadow: none;
  }
 .card-bill{
  padding-top: 20px;
 }
  
    
